*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body  */

body {
    font-family: 'LunchType-Regular', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

.section {
    min-height: 100vh;
    display: flex;
    position: relative;
}

.section-pad {
    padding: 0 5vw 0 5vw;
}

.container {
    max-width: 810px;
    /* This will center the our box magically */
    margin: auto;
}

.intro {
    background-image: url('/assets/images/intro.jpg');
    color: #fff;
}

.logo {
    display: block;
    text-align: center;
    margin-bottom: 32px;
    max-width: 114px;
    margin-left: auto;
    margin-right: auto;
}

.logo img {
    width: 100%;
}

.appear {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

/* logo fade-in */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    50% {
        transform: translate(0);
    }

    100% {
        opacity: 1;
    }
}

.marquee span {
    /* this will make sure the text is on one line */
    white-space: nowrap;
    /* our span is inline by default, so here we tell it to be block */
    display: block;
    /* this will let us add our animation */
    position: relative;
    /* here */
    animation: moveLeft 200s infinite;
}

.difference {
    /* blend */
    mix-blend-mode: difference;
}

.marquee {
    position: absolute;
    top: 2vh;
    left: 0;
    width: 100%;
    /* each letter will take 5% of the viewport (vw) */
    font-size: 5vw;
    line-height: 1;
    /* this will stop the long text from causing scroll bars by hanging outside of the marquee box area */
    overflow: hidden;
}

.intro p {
    font-weight: 'LunchType-Regular';
    font-size: 2.25rem;
    line-height: 1.2;
}

.bg-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@keyframes moveLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-3000vw);
    }
}
.day .container{
position:relative;
z-index: 2;
}
.day-1 {
    background-color: #00B290;
}

.day-2 {
    background-color: #FF74A7;
}

.day-3 {
    background-image: url('/assets/images/day-3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.date {
    font-size: 1.56rem;
    color: #FFEED1;
    margin-bottom: 2.66rem;
    line-height: 1;
}

.day {
    text-align: center;
    position: relative;
}

.lineup h2 {
    font-size: 3.1rem;
    line-height: 1;
    margin-bottom: 6px;
}

.lineup p {
    font-size: 1.16rem;
}

.shape {
    position: absolute;
}

.circle {
    height: 93px;
    width: 93px;
    background-color: #ffeecf;
    border-radius: 100%;
}

/* we can select an individual element from a series using the nth :nth-of-type() */
.circle:nth-of-type(1) {
    left: 5%;
    top: 20%;
}

.circle:nth-of-type(2) {
    left: 20%;
    top: 5%;
}

.circle:nth-of-type(3) {
    left: 20%;
    top: 50%;
}

.circle:nth-of-type(4) {
    left: 4%;
    top: 80%;
}

.circle:nth-of-type(5) {
    left: 70%;
    top: 5%;
}

.circle:nth-of-type(6) {
    left: 75%;
    top: 55%;
}

.circle:nth-of-type(7) {
    left: 85%;
    top: 30%;
}

.circle:nth-of-type(8) {
    left: 80%;
    top: 80%;
}

.squiggle {
    width: 303px;
    height: 63px;
    background-image: url('/assets//images/squiggle.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


.squiggle:nth-of-type(1) {
    left: 5%;
    top: 2%;
}

.squiggle:nth-of-type(2) {
    left: 8%;
    top: 25%;
}

.squiggle:nth-of-type(3) {
    left: 3%;
    top: 60%;
}

.squiggle:nth-of-type(4) {
    left: 10%;
    top: 90%;
}

.squiggle:nth-of-type(5) {
    right: 10%;
    top: 7%;
}

.squiggle:nth-of-type(6) {
    right: 2%;
    top: 35%;
}

.squiggle:nth-of-type(7) {
    right: 9%;
    top: 60%;
}

.squiggle:nth-of-type(8) {
    right: 0%;
    bottom: 5%;
}